html{
	scroll-behavior: smooth;
	overflow-x: hidden;
	box-sizing: border-box;
	font-weight: bold;
}
html, body {height: 100%; scroll-behavior: smooth; background-color: #272822;}
#home{
	display: flex;
	flex-direction: column;
	height:100%;
	width: 100%;
	position: relative;
	background-color: #272822;
}
a{
	color: #fff;
}
a:hover{
	color: #fff;
	text-decoration: none;
}
@media only screen and (min-width: 767px){
	html{
		max-height: 100%;
	}
	.logo{
		display:flex;
		justify-content:flex-start;
		
	}
}
@media only screen and (max-width: 767px) {
	#home{
		max-height: 300% !important;
		height: auto !important;
	}
	.logo{
		margin:0 !important;
		width: 100% !important;
	}
	.home-title{
		margin-top:3% !important;
		margin-bottom:5% !important;
		height:auto !important;
	}
	.social-links{
		flex-direction:column;
	}
	.profile-image-side{
		margin: 10% 0;
	}
	.profile-detail-side{
		height: 100%;
		margin-top: 15%;
	}
	.project-stage >.col-md-6{
		margin-top:3%;
		margin-bottom:7%;
	}
	.profile-page-buttons{
		padding:5%;
	}
	.tab-content{
		margin-top: 15% !important;
	}
	
}
header{
	display: flex;
	align-items: center;
	width: 100%;
	z-index: 5000004;
	padding: 20px 2.12766%;
}
nav{
	float:left;
	width: 100%;
}
.logo{
	margin-left:6%;
	width: 40%;
	
}
.in-logo{
	height: 100%;
	width:100%;
}
header{
	display: flex;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	z-index: 5000004;
	padding: 0px 20px;
}
nav{
	float:left;
	width: 100%;
}
nav>.navigation-links{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
nav>.navigation-links>a{
	color: #fff;
	padding:1%;
	margin: 1%;
	transition: all 0.25s ease-in-out;
}
nav>.navigation-links>a:hover{
	color:#007bff;
	text-decoration: none;
	transition: all 0.25s ease-in-out;
}
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
  /* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
  
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}
  
  /* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
.home-title{
    width: 85%;
    height: 75%;
    margin: auto;
    border-radius: .5em;
    background-color: #272822;
    -webkit-box-shadow: 0px 2px 9px 1px rgb(0 0 0 / 69%);
    box-shadow: 0px 2px 9px 1px rgb(0 0 0 / 69%);
}
.home-title>h3{
	margin: 3% 0%;
	width: 100%;
	max-height: 100%;
	text-align: center;
}
.profile-image-box{
	width: 100%;
	height: 200px;
}
.profile-image-box>img{
	border:3px solid #fff;
	border-radius: .5em;
	display: flex;
	margin: auto;
	width: 150px;
	height: 190px;
	align-items: center;
}
.profile-name, .profile-age{
	text-align: center;
}
.form-title, .form-text{
	text-align: center;
}
.form-submit-btn{
	cursor:pointer;
	background-color: #007bff;
	border:0;
	outline: 0;
	font-weight: bold;
	display: flex;
	justify-content: center;
	margin: 2% 15%;
	height: 50px;
	transition: all 0.15s ease-in-out;
}
.form-submit-btn:hover{
	transition: all 0.15s ease-in-out;
}
.email-input{
	height: 50px;
}
.email-input, .text-input{
	margin: 1% 2%;
	border: 3px;
	border-radius: .5em;
}
.email-input:focus, .text-input:focus{
	outline-color: #007bff;
}
.form-submit-btn:hover{
	background-color: #fff;
	color:#007bff;
}
.profile-image-side{
	height:100%;
	display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.profile-detail-side{
	padding: 0% 2%;
	overflow:hidden;
}
.social-links{
	display:flex;
	justify-content: space-evenly;
	align-items:center;
	margin: 0% 2%;
	padding:3% 2%;
	border-radius:0.5rem;
	transition: all 0.15s ease-in-out;	
	margin-top:5%;
}
.social-links>div{
	display:flex;
	justify-content:center;
}
.social-links>.col-md-9{
	padding:0;
}
.github{
	background:#222;
}
.github:hover{
	background:white;
	color:#222;
}
.linkedin{
	background:#0077b5;
}
.linkedin:hover{
	background:white;
	color:#0077b5;
}
.whatsapp{
	background:	#25D366;
}
.whatsapp:hover{
	background:white;
	color:	#25D366;
}
.social-links:hover{
	transition: all 0.15s ease-in-out;	
}
.social-links p{
	margin:0 !important;
}

.nav{
	width: 100%;
	margin:0;
	height: 10%;
	flex-wrap: nowrap;
}
.nav-item{
	width: 100%;
	height: 100%;
	padding: 0;
}
.nav-item, .profile-page-buttons{
	text-align: center;
	display: flex;
	justify-content: center;

}
.tab-content{
	margin: auto;
	height: 100%;
}
.tab-pane{
	height: 100%;
	width: 100%;
	color: #fff;
}
#pills-profile{
	margin: 4% 2%;
	max-height: 100%;
}
#pills-contact{
	min-height: 100%;
}
#pills-contact>form{
	height: 100% !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
.profile-page-buttons{
	display: flex;
    width: 100%;
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff;
    transition: all 0.25s ease-in-out;
    flex-direction: column;
    justify-content: center;
}
.profile-page-buttons:hover{
	background-color: #007bff;
	border-color: #121212;
	transition: all 0.25s ease-in-out;
}
.profile-page-buttons:focus{
	transition: all 0.25s ease-in-out;
	background-color: #007bff;
	border-color: #007bff;
	outline: 0 !important;
}
.project-stage{
	height: 65%;
	overflow:auto;
	margin: 3%;
	display: flex;
	align-items: center;
}
.project-bloque{
	width: 100%;
	height: 100%;
	display:flex;
	align-items:center;
}
.project-bloque-image{
	width: 100%;
}
.universitercihleri{
	padding: 2%;
    border-radius: 0.5rem;
}